.e404 {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  overflow: hidden;
}
.e404__dog {
  height: 80%;
  align-self: flex-end;
}
.e404__contents {
  height: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

.contents__text {
  text-align: center;
}

@media screen and (max-width: $mobile-breakpoint) {
  .e404 {
    flex-direction: column;
    justify-content: space-between;
  }
  .e404__dog {
    height: 40%;
    order: 2;
    align-self: center;
  }
  .e404__contents {
    width: 100%;
    display: flex;
    padding: $s-size;
  }
}
