.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 0 2rem;
}
.title--form {
  margin: 0 0 $s-size 0;
}
.form__block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: stretch;
  width: 100%;
  padding: $l-brd-width;
  margin-bottom: $s-size;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
}
.btn--form {
  width: 100%;
  margin: $l-size 0 0 0;
}
.text-input--form {
  margin-bottom: 0.4rem;
  width: 100%;
}
.form__validation-error {
  color: $error;
  font-size: 1.4rem;
  animation: showValidationError $animation-time;
}
.form__validation-error--hidden {
  opacity: 0;
  animation: none;
}
.form__title {
  text-align: center;
}
.form__label {
  font-size: 2rem;
  font-weight: 500;
}

@keyframes showValidationError {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .btn--form {
    margin: $s-size 0 0 0;
  }
  .btn--form {
    margin: $s-size 0 0 0;
  }
  .form__label {
    font-size: 1.8rem;
  }
}
