.success {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn--success {
  margin-top: $xl-size;
}

.title--success {
  margin: 0 0 $s-size 0;
}

.btn--success {
  border: $m-brd-width solid transparent;
}
