.btn {
  font-weight: 700;
  font-size: 2.4rem;
  background-color: $primary-color;
  color: $off-white;
  padding: $s-size;
  border: $l-brd-width solid $off-white;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;

  transition: all $animation-time;
  -webkit-transition: all $animation-time;
  -moz-transition: all $animation-time;
  -ms-transition: all $animation-time;
  -o-transition: all $animation-time;
  text-decoration: none;
  text-align: center;
}

.btn:disabled {
  background-color: $gray;
  color: $dark-gray;
  cursor: default;
  pointer-events: none;
}

.btn:hover {
  background-color: darken($primary-color, 10%);
  cursor: pointer;
}
.btn:focus {
  outline: none;
  // background-color: lighten($primary-color, 20%);
  border: $l-brd-width solid lighten($primary-color, 10%);
}
.btn:active {
  background-color: darken($primary-color, 20%);
}
