.text-input {
  background-color: darken($off-white, 1%);
  border: none;
  margin: $s-size 0 $s-size 0;
  padding: 0.6rem 0 0.6rem 0;
  border-bottom: $s-brd-width solid $gray;
  transition: all $animation-time;
  -webkit-transition: all $animation-time;
  -moz-transition: all $animation-time;
  -ms-transition: all $animation-time;
  -o-transition: all $animation-time;
}
.text-input:focus {
  background-color: $off-white;
  border-bottom: $s-brd-width solid $primary-color;
  outline: none;
}
.text-input:active {
  background-color: darken($off-white, 3%);
}
.text-input--error {
  border-bottom: $s-brd-width solid $error;
  animation: inputError $animation-time;
}
@keyframes inputError {
  from {
    border-bottom-color: $primary-color;
  }
  to {
    border-bottom-color: $error;
  }
}
