$modal-bgc: lighten($off-white, 2%);

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: $modal-bgc;
  border-radius: $border-radius;
  padding: 2.8rem $s-size + 0.3rem $s-size $m-size;
  box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.05);
  margin: 0 0 $l-size 0;
  position: relative;
  transition: all $animation-time;
  animation: showModal $animation-time;
}
.modal--error {
  color: $error;
  overflow: hidden;
}
.modal--closed {
  opacity: 0;
  margin: -$l-size;
  animation: none;
}
.modal--error::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 100vw;
  background-color: $error;
}
.modal__close-btn {
  display: flex;
  justify-content: center;
  background-color: $modal-bgc;
  box-sizing: border-box;
  padding: 0;
  border: 0.3rem solid $modal-bgc;
  flex-grow: 0;
  width: 3.2rem;
  transition: all $animation-time;
  outline: none;
}

.modal__close-btn:focus {
  border: 0.3rem solid $error;
  margin: 0;
}
.modal__close-btn:hover {
  color: darken($error, 10%);
  cursor: pointer;
}

.modal__close-btn:active {
  background-color: darken($modal-bgc, 10%);
}

@keyframes showModal {
  from {
    opacity: 0;
    margin: -$l-size;
  }
  to {
    opacity: 1;
    margin: 0 0 $l-size 0;
  }
}
