<div class="e404">
  <img src="/src/img/Corgo.png" alt="Dog" class="e404__dog" />
  <div class="e404__contents">
    <h1 class="title contents__e404">To jest Stefan.</h1>
    <p class="contents__text">
      Stefan właśnie zjadł stronę, której szukasz. Ale nie przejmuj się, możesz
      przejść do strony głównej!
    </p>
    <a class="btn" href="/">Przejdź do strony głównej</a>
  </div>
</div>
