<div class="wrapper">
  <div class="form">
    <h1 class="title form__title">Zaloguj się</h1>
    <div class="modal modal--error <%= errors.main ? '' : 'modal--closed' %>">
      <div><%= errors.main %></div>
      <button class="modal__close-btn">
        <img src="/src/svg/close.svg" alt="Close button" />
      </button>
    </div>
    <form id="login">
      <div class="form__block">
        <label for="username" class="form__label"> Nazwa użytkownika: </label>
        <input
          type="text"
          placeholder="Wprowadź swoją nazwę użytkownika"
          name="username"
          id="username"
          value="<%= username %>"
          class="text-input text-input--form <%= errors.validation.username ? 'text-input--error' : '' %>"
        />
        <div
          class="form__validation-error <%= errors.validation.username ? '' : 'form__validation-error--hidden' %>"
          id="usernameValidationError"
        >
          Pole z nazwą użytkownika nie może być puste.
        </div>
      </div>
      <div class="form__block" class="form__label">
        <label for="password" class="form__label"> Hasło: </label>
        <input
          class="text-input text-input--form <%= errors.validation.password ? 'text-input--error' : '' %>"
          type="password"
          placeholder="Wprowadź swoje hasło"
          name="password"
          id="password"
          value="<%= password %>"
        />
        <div
          class="form__validation-error <%= errors.validation.password ? '' : 'form__validation-error--hidden' %>"
          id="passwordValidationError"
        >
          Pole z hasłem nie może być puste.
        </div>
      </div>
      <!-- prettier-ignore -->
      <button type="submit" class="btn btn--form" ><%= isProcessing ? "Proszę czekać...":"Zaloguj się" %></button>
    </form>
  </div>
</div>
