<div class="success">
  <div class="success__wrapper">
    <div>
      <h1 class="title title--success">Sukces!</h1>
      <p>Udało ci się zalogować!</p>
    </div>
    <button class="btn btn--success">Wyloguj się</button>
  </div>
</div>
