*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  background-color: $off-white;
}
