// Colors
$off-white: #f8f8f8;
$primary-color: #4c8ff3;
$gray: #c5c5c5;
$dark-gray: #666666;
$error: #ff2d2d;

//radius
$border-radius: 2rem;

//spacings
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//border width
$s-brd-width: 0.3rem;
$m-brd-width: 0.4rem;
$l-brd-width: 0.5rem;

$animation-time: 0.5s;

$mobile-breakpoint: 600px;
